<footer>
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <div class="footer-content">
          <div class="logo">
            <img loading="lazy" src="images/logo-main.png" alt="The Zero Hunger logo">
          </div>
          <h6>Reducing hunger in our society</h6>

          <ul social-icons>
            <li><a href="javascript:;"><img loading="lazy" src="images/twitter.png" alt="twitter icon"></a> </li>
            <li><a href="javascript:;"><img loading="lazy" src="images/instagram.png" alt="instagram icon"></a>
            </li>
            <li><a href="javascript:;"><img loading="lazy" src="images/facebook.png" alt="facebook icon"></a></li>
            <li><a href="javascript:;"><img loading="lazy" src="images/linkedin.png" alt="linkedin icon"></a></li>
          </ul>

          <p>+2349000099900</p>
          <p>info@zerohunger.org</p>
        </div>
      </div>
      <div class="col l3 s12">
        <div class="footer-content">
          <h5>INFORMATION</h5>
          <ul>
            <li><a href="javascript:;">FAQ's</a></li>
            <li><a href="about-us">Our Mission</a></li>
            <li><a href="about-us">Our Vision</a></li>
          </ul>
        </div>
      </div>
      <div class="col l3 s12">
        <div class="footer-content">
          <h5>SUPPORT</h5>
          <ul>
            <li><a href="javascript:;">Help Center</a></li>
            <li><a href="javascript:;">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col l3 s12">
        <div class="footer-content">
          <h5>NAVIGATION</h5>
          <ul>
            <li><a href="about-us">About Us</a></li>
            <li><a href="javascript:;">Donate</a></li>
            <li><a href="volunteer">Volunteer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>