<footer>
    <form action="" method="POST">
      <input type="text" class="input browser-default" placeholder="Email Address">
      <button>Subscribe</button>
    </form>

    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5>INFORMATION</h5>
          <ul>
            <a href="#"><li>Testimonials</li></a>
            <a href="about-us"><li>Our Mission</li></a>
            <a href="about-us"><li>Our Vision</li></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>HELP</h5>
          <ul>
            <a href="#"><li>Support</li></a>
            <a href="#"><li>Contact</li></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>LEGAL</h5>
          <ul>
            <a href="#"><li>Terms &amp; Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>License Agreement</li></a>
            <a href="#"><li>Cookie Settings</li></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>CONTACT US</h5>
          <ul>
            <a href="#"><li>Twitter</li></a>
            <a href="#"><li>Facebook</li></a>
            <a href="#"><li>LinkedIn</li></a>
            <a href="#"><li>Email</li></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>