@media (min-width: 765px) {
  .mobile-wrapper {
    display: none;
  }

  .box-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    margin-top: 0;
  }
}

@media (max-width: 765px) {
  .wrapper-desktop {
    display: none;
  }
}

.mobile-wrapper {
  max-width: 375px;
  margin: 40px auto;
  height: auto;
}

.mobile-wrapper form {
  background-color: white;
  border-radius: 15px;
  width: 100%;
}

header {
  background: #fe8e66;
  width: 100%;
  height: 70px;
  border-radius: 15px 15px 0px 0px;
}

.donation-mobilehead h2 {
  width: 130px;
  height: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: white;
  position: relative;
  left: 120px;
  top: 15px;
}

.donation-mobilehead img {
  height: 12px;
  width: 8px;
  color: white;
  position: relative;
  left: 20px;
  top: 20px;
}

.form-mobile {
  padding: 30px 30px;
}

.payment-mobile,
.cardName-mobile,
.date-mobile,
.cvv-mobile,
.pin-mobile,
.save-mobile {
  display: flex;
  flex-direction: column;
}

.payment-mobile label,
.cardName-mobile label,
.date-mobile label,
.cvv-mobile label,
.pin-mobile label,
.save-mobile label {
  text-transform: capitalize;
  color: #353535;
  font-style: normal;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.payment-mobile select,
.cardName-mobile input,
.date-mobile input,
.cvv-mobile input,
.pin-mobile input,
.save-mobile select {
  height: 45px;
  width: 100%;
  padding-left: 30px;
  border: 1px solid #aeb4ca;
  box-sizing: border-box;
  border-radius: 5px;
}

.payment-mobile img,
.cardName-mobile img,
.date-mobile img,
.cvv-mobile img,
.pin-mobile img,
.save-mobile img {
  position: relative;
  left: 5px;
  bottom: 35px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.cvv-mobile label {
  text-transform: uppercase;
}

.form-mobile button {
  width: 315px;
  height: 56px;
  border-radius: 15px;
}

.donate {
  width: 100px;
  height: 50px;
  border: 1px solid #fe8e66;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #fe8e66;
  color: white;
  font-style: normal;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

footer {
  width: 100%;
  height: 70px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fafafa;
}

.footer-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-mobile div {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.footer-mobile h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  text-transform: capitalize;
  padding-top: 5px;
}

.footer-mobile a {
  text-decoration: none;
  color: #353535;
}

.footer-mobile img:nth-of-type(1),
.footer-mobile img:nth-of-type(2),
.footer-mobile img:nth-of-type(3),
.footer-mobile img:nth-of-type(4),
.footer-mobile img:nth-of-type(5) {
  width: 20px;
  height: 20px;
  background-color: #fe8e66;
  border-radius: 3px;
}
