<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Forgot Successful</title>
    <link rel="stylesheet" href="style/success.css">
</head>
<body>

    <!--Mobile View-->

    <section class="container-mobile">
        <div class="mobile-screen">
            <h1 class="head-mobile">done</h1>
      
      
            <div class="circle-mobile"></div>
            <img src="./images/checkmark.png" alt="checkmark icon">
      
            <p>A reset link has been sent to your email.</p>
        </div>
    </section>

    <!--Desktop View-->

    <section class="desktop-wrapper">
        <div class="header-desktop">
            <img src="./images/gift-icon.png" alt="gift icon">
            <h1>zero hunger</h1>
        </div>

        <div class="body-desktop">
            <h2>password reset successful</h2>


            <div class="circle-desktop"></div>
            <img src="./images/checkmark.png" alt="checkmark icon">

            <h3>Your password was changed successfully.</h3>
            <h4>Kindly login to continue enter into your profile</h4>

                <button class="login-desktop">log in</button>
                <button class="homepage">go to homepage</button>
        </div>
    </section>
    
</body>
</html>