<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style/reset.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <!--Mobile View-->


    <section class="wrapper-mobile">
        <form action="#" class="form-mobile">
            <header class="header-mobile">
                <ul>
                    <li><a href="#"><img src="./images/arrow.png" alt="back arrow icon"></a></li>
                    <li>Forgot Password</li>
                </ul>
            </header>
    
            <div class="email-mobile">
                <label for="email">email address</label>
                <input type="email" name="emailAddress" id="email" placeholder="enter your email address" required>
            </div>

            <button class="button-mobile">submit</button>
        </form>
    </section>


    <!--Desktop View-->
  <script src="js/forgot-password.js"></script>
</body>
</html>