<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In : : The Hunger Initiative</title>

  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/iziToast.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/appLoader.css">
</head>
<body class="auth">
  <%- include('partials/messages') %>
  
  <header class="header-actions">
    <ul>
      <li>
        <a href="/">
          <img src="/images/icons/arrow.png" alt="arrow icon">&nbsp;&nbsp;Back</a>
      </li>
      <li><a href="signup">Create Account</a></li>
    </ul>
  </header>

  <div class="container">
   <div class="row">
      <div class="col l4 m8 s12 offset-l4 offset-m2">
        <form class="form">
          <div class="input-group">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" placeholder="Enter your email address" required class="browser-default">
            <img src="/images/icons/message-icon.png" alt="email icon">
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password" required class="browser-default">
            <img src="/images/icons/lock-icon.png" alt="lock icon" class="lock-icon">
          </div>

          <div class="form-options">
            <label>
              <input type="checkbox">
              <span>Remember Me</span>
            </label>

            <a href="forgot-password">Forgot Password?</a>
          </div>

          <button type="submit" class="btn big-button">Log In</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('partials/appLoader') %>
  <script src="/js/login.js"></script>
</body>
</html>