<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link type="text/css" rel="stylesheet" href="./style/reset.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <!--Mobile View-->


    <!--Desktop View-->

    <section class="wrapper-desktop">
        <header class="desktop-header">
            <img src="./images/gift-icon.png" alt="gift icon">
            <h1>zero hunger</h1>
        </header>

        <form action="#" class="form-desktop">
            <h2>password reset</h2>

            <!--<div class="email-desktop">
                <label for="email">email address</label>
                <input type="email" name="emailAddress" id="email" placeholder="enter email address" required>
                <img src="./images/email-icon.png" alt="message icon">
            </div>-->
<!--
            <div class="newPassword-desktop">
                <label for="newPassword">Token</label>
                <input type="password" name="token" id="token" placeholder="enter token" required>
                <img src="./images/lock.png" alt="lock icon">
                <img src="./images/eye-icon.png" alt="eye icon">
            </div>-->
            <div class="newPassword-desktop">
                <label for="newPassword">new password</label>
                <input type="password" name="newPassword" id="newPassword" placeholder="enter password" required>
                <img src="./images/lock.png" alt="lock icon">
                <img src="./images/eye-icon.png" alt="eye icon">
            </div>

            <div class="re-enterPassword-desktop">
                <label for="re-enterPassword">re-enter password</label>
                <input type="password" name="re-enterPassword" id="re-enterPassword" placeholder="re-enter password" required>
                <img src="./images/lock.png" alt="lock icon">
                <img src="./images/eye-icon.png" alt="eye icon">
            </div>

            <button class="submit-desktop">submit</button>
        </form>
    </section>
  <script src="js/reset.js"></script>
</body>
</html>