/* Intro Section */
section.intro {
  min-height: 95vh;
  width: 100%;
  color: #222;
  padding: 50px 0;
}

section.intro h2 {
  font-size: 55px;
  font-family: "Abril Fatface", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 65px 0 40px;
}

section.intro h5 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

section.intro ul {
  padding-inline-start: 20px;
  margin-bottom: 20px;
}

section.intro ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

section.intro img {
  height: 90%;
  width: 100%;
  margin: 70px auto 10%;
}

section.intro .btn {
  margin-top: 10px;
}

section.intro .btn-outline {
  margin-left: 10px;
}


/* Volunteer Section */
section.volunteer {
  min-height: 95vh;
  width: 100%;
  color: #222;
  padding: 50px 0;
}

section.volunteer img {
  height: auto;
  width: 90%;
  margin: 0 5%;
  border-radius: 40px;
}

section.volunteer h2 {
  font-size: 45px;
  font-family: "Abril Fatface", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 45px 0 40px;
}

section.volunteer p {
  font-size: 20px;
  line-height: 1.5;
}

section.volunteer .btn {
  margin-left: 20px;
  margin-top: 30px;
  transform: scale(1.2);
}


/* Food List Section */
section.food-list {
  min-height: 95vh;
}

section.food-list h2 {
  font-size: 45px;
  font-family: "Abril Fatface", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.food-list h5 {
  margin-bottom: 50px;
}

section.food-list .food-container img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}

section.food-list .food-container figcaption {
  font-size: 110%;
}