html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6.5px;
}

::-webkit-scrollbar-track {
  width: 6.5px;
  background: transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #fe8e66 50%, #fe8e66 100%);
  width: 0;
  height: 25%;
  transition: .5s ease;
}

body {
  font-family: 'Futura LT Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

/* MATERIAL DESIGN ICON CSS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/materialdesignicons-webfont.ttf") format("ttf"), url("../fonts/materializeicons.woff2") format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

i.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
}

.btn,
.btn a {
  background-color: #fe8e66;
  color: #fff;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all .2s ease-out;
}

.btn:hover,
.btn a:hover {
  background-color: #832706;
}

.btn:focus {
  background-color: #ff7d4e;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fe8e66;
  color: #fe8e66;
}

.btn-outline:hover {
  background-color: #832706;
  color: #fff;
  border-color: #832706;
}

.header {
  background-color: #e5e5e5;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top:0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #e5e5e5;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.header li a.btn,
.header li a.btn:hover {
  padding: 0 16px;
  margin: 10px;
  color: #fff;
  background-color: #fe8e66;
  border: none;
}

.header li a:hover,
.header .menu-button:hover {
  background-color: #ffcab6;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-button {
  display: none;
  transition: all .3s ease-in-out;
}

.header .menu-button:checked ~ .menu {
  max-height: 360px;
}

.header .menu-button:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-button:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-button:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-button:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-button:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.iziToast {
  font-family: inherit;
}