<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <main style="margin-top: 70px;">
      <div class="container">
        <div class="row center-align">
          <header>
            <h3>Zero Hunger Initiative</h3>
            <h6>
                We at Zero Hunger Initiative aim at reducing hunger in our communitiesa day at a time !
            </h6>
            <h6>
                We do this with the aim of reducing hunger induced crimes and killings as well as prevent malnourishment of indigent kids in the society due to lack of food and proper nutrition .
            </h6>
            <h6 class="center-align">
                Zero Hunger hopes that  in 10 years, with the help of you , our wonderful donor,  we will be able to completely eradicate hunger in 
                our communties
            </h6>
          </header>
        </div>
        <div class="row">
          <div class="img-container">
            <img
              src="images/hero.png"
              alt="Mother and Child Cooking"
              style="max-width: 100%"
            />
          </div>
        </div>
        <div class="row"style="margin-bottom: 96px;margin-top: 96px;">
          <div class="col s12 m6">
            <h3 class="center-align" style="margin-top: 0;">Our Mission</h3>
            <p>
                Our aim is to reduce hunger and death in Africa.
            </p>
            <p>
                Our mission can also be sub divided into two;
            </p>
            <ul>
              <li style="list-style: circle inside">
                To do our bit in the sustainment development goals of our nation Nigeria. 
              </li>
              <li style="list-style: circle inside">
                Have drop off points in all local government, closer to the people who are in dire need of food.
              </li>
            </ul>
          </div>
          <div class="col s12 m6">
            <img src="images/our-mission.png" alt="" style="max-width: 100%" />
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <img src="images/our-vision.png" alt="Father, mother and child sitting at the dining table" style="max-width: 100%" />
          </div>
          <div class="col s12 m6">
            <h3 class="center-align">Our Vision</h3>
            <p>
                We strive to eliminate hunger all over africa and ensure that no one goes to bed hungry.
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
