<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <%- include('../partials/nav.ejs')%>

  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h2>Help Put Food On Someone's Table Today</h2>
          <h5>Reducing Hunger In Our Communities</h5>
          <ul class="browser-default">
            <li>Reduce hunger induced crimes and killings</li>
            <li>Prevent malnourishment of indigent kids in the society</li>
            <li>
              Help people suffering from lack of good food and proper
              nutrition
            </li>
          </ul>
          <span style="transform: scale(1.2); display: inline-block; margin-left: 30px;">
            <button class="btn" style="letter-spacing: 1px;">DONATE FOOD ITEMS</button>
            <button class="btn btn-outline" style="letter-spacing: 1px;">DONATE CASH</button>
          </span>
        </div>
        <div class="col l6 s12">
          <img loading="lazy" src="images/smiling-lady.png" alt="Smiling lady">
        </div>
      </div>
    </div>
  </section>

  <section class="volunteer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12" style="background-image: url(images/volunteer-background.png); background-size: cover;">
          <img loading="lazy" src="images/little-girl-planting.png" alt="Little girl planting">
        </div>
        <div class="col l6 s12">
          <h2>Help Fight Hunger Today. Partner With Us.</h2>
          <p>Join the ZeroHunger community to become a volunteer today and you can impact lives by devoting your time to
            helping others.</p>
          
          <button class="btn">SIGN UP AS A VOLUNTEER</button>
        </div>
      </div>
    </div>
  </section>

  <section class="food-list">
    <div class="container">
      <div class="center">
        <h2>Can't Decide On What To Donate?</h2>
        <h5>Here's a list of highly demanded food items</h5>
      </div>

      <div class="row">
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-1.png" alt="..." class="food-image">
            <figcaption>Mustard Stew</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-2.png" alt="..." class="food-image">
            <figcaption>Village Food</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images//food-3.png" alt="..." class="food-image">
            <figcaption>Garnished Pasta</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-4.png" alt="..." class="food-image">
            <figcaption>Village Rice</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-5.png" alt="..." class="food-image">
            <figcaption>Full Meal</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-6.png" alt="..." class="food-image">
            <figcaption>Rice Stew</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-7.png" alt="..." class="food-image">
            <figcaption>Pepper Soup</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-8.png" alt="..." class="food-image">
            <figcaption>Vegetable Soup</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-9.png" alt="..." class="food-image">
            <figcaption>Garnished Beans</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-10.png" alt="..." class="food-image">
            <figcaption>Goat Meat Pepper Soup</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-11.png" alt="..." class="food-image">
            <figcaption>Pepper Soup</figcaption>
          </figure>
        </div>
        <div class="col l3 m6 s12 center">
          <figure class="food-container">
            <img loading="lazy" src="images/food-12.png" alt="..." class="food-image">
            <figcaption>Village Rice</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <div class="center" style="margin: 50px 0;">
    <div style="transform: scale(1.2);">
      <button class="btn" style="letter-spacing: 1px;">DONATE & ELIMINATE HUNGER NOW</button>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>