<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home : : #TheZeroHunger Initiative : : Ending hunger & starvation, one day at a time</title>

  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/home.css">

</head>
<body>
  <header class="header">
    <div class="container">
      <a href="">
        <img src="images/logo-main.png" alt="The Hunger Initiative logo" class="logo">
      </a>
      <input class="menu-button" type="checkbox" id="menu-button" />
      <label class="menu-icon" for="menu-button"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="javascript:;">Donate</a></li>
        <li><a href="javascript:;">Volunteer</a></li>
        <li><a href="team">Our Team</a></li>
        <li><a class="btn" href="login">Login</a></li>
      </ul>
    </div>
  </header>


  <section class="intro">
    <div class="container">
      <h2>Help Put Food on Someone's Table Today And A Smile on Their Faces</h2>
      <h5>The Zero Hunger Initiative connects intending donors to thousands of donees in Nigeria.</h5>
      <span style="transform: scale(1.25);">
        <button class="btn" id="donate"><a href="signup">DONATE</a></button>
        <button class="btn btn-outline" id="learn-more">LEARN MORE</button>
      </span>
    </div>
  </section>


  <section class="about">
    <div class="container">
      <h2>What We Do</h2>
      <h5>
        The Zero Hunger Initiative strives to eliminate hunger in our communities,
        one day at a time, through donations from people like you!
      </h5>

      <h5>
        We do this this with the aim of reducing hunger-induced crimes and killings as well as prevent
        malnourishment of indigent kids in the society due to lack of good food and proper nutrition.
      </h5>
    </div>
  </section>


  <section class="donate-food">
    <div class="container">
      <h2>Eliminate Hunger, One Donation At A Time!</h2>
      <h5>
        Due to the ever rising inflation of the Nigerian economy, a high
        percentage of the population find it increasingly difficult to feed
        as well as they should. We at The Zero Hunger Initiative have found
        that sharing from what we have, no matter how little, helps to make
        our world a better place.
      </h5>
      <a class="btn" style="transform: scale(1.25);">DONATE FOOD ITEMS</a>
    </div>
  </section>


  <section class="donate-cash">
    <div class="container">
      <h2>
        Can’t Donate Food? <br>
        Don’t Worry, You Can Still Be of Help.
      </h2>
      <h5>
        We absolutely understand if you aren’t one for stocking up on
        foodstuff regularly. There is another way you can help someone -
        through your money! Our organisation also makes provision for cash
        donations. This way, we make sure no intending donor gets left out.
      </h5>
      <a class="btn" style="transform: scale(1.25);">DONATE CASH</a>
    </div>
  </section>


  <section class="food-list">
    <div class="container">
      <h2>Having A Hard Time Deciding What To Donate?</h2>
      <h5>Here’s a list of highly demanded food items</h5>

      <div class="row">
        <div class="col l3 m6 s12">
          <ul>
            <li>Rice</li>
            <li>Sweet Potato</li>
            <li>Cubes</li>
            <li>Beverages</li>
            <li>Milk</li>
          </ul>
        </div>
        <div class="col l3 m6 s12">
          <ul>
            <li>Yam</li>
            <li>Semovita</li>
            <li>Vegetable Oil</li>
            <li>Flour</li>
            <li>Cooking Flour</li>
          </ul>
        </div>
        <div class="col l3 m6 s12">
          <ul>
            <li>Cereals</li>
            <li>Beans</li>
            <li>Noodles</li>
            <li>Wheat</li>
            <li>Garri</li>
          </ul>
        </div>
        <div class="col l3 m6 s12">
          <ul>
            <li>Egusi</li>
            <li>Oil</li>
            <li>Cornflakes</li>
            <li>Eggs</li>
            <li>Tomato</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="payment-options center-align">
    <div class="container">
      <h5>Supported Payment Options</h5>

      <div class="row">
        <div class="col l3 m6 s12"><img src="images/payment-method-1.png" alt="Paystack logo"></div>
        <div class="col l3 m6 s12"><img src="images/payment-method-2.png" alt="MasterCard"></div>
        <div class="col l3 m6 s12"><img src="images/payment-method-3.png" alt="Visa Card"></div>
        <div class="col l3 m6 s12"><img src="images/payment-method-4.png" alt="Verve Card"></div>
      </div>
    </div>
  </section>


  <footer>
    <form action="" method="POST">
      <input type="text" class="input browser-default" placeholder="Email Address">
      <button>Subscribe</button>
    </form>

    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5>INFORMATION</h5>
          <ul>
            <a href="#"><li>Testimonials</li></a>
            <a href="about-us"><li>Our Mission</li></a>
            <a href="about-us"><li>Our Vision</li></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>HELP</h5>
          <ul>
            <a href="#"><li>Support</li></a>
            <a href="#"><li>Contact</li></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>LEGAL</h5>
          <ul>
            <a href="#"><li>Terms &amp; Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>License Agreement</li></a>
            <a href="#"><li>Cookie Settings</li></a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>CONTACT US</h5>
          <ul>
            <a href="#"><li>Twitter</li></a>
            <a href="#"><li>Facebook</li></a>
            <a href="#"><li>LinkedIn</li></a>
            <a href="#"><li>Email</li></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  
  <script src="js/home.js"></script>
</body>
</html>