<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs')%>
        <main style="margin-top: 120px;">
            <div class="container">
                <h1 class="center-align" >Our Team</h1>
                    <div class="row">
                        <div class="col s6 m4 offset-m4 offset-s3">
                            <div class="member-container center-align">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l4" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l4" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l4 offset-s3" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l3 center-align" style="margin-bottom: 10px !important;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s6 l4" style="margin-bottom: 10px;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l4" style="margin-bottom: 10px;">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="col s6 l4">
                            <div class="member-container">
                                <div class="team-pic container" style="max-width: 200px;">
                                    <img src="images/team-profile.png" alt="team logo" class="center-align" style="max-width: 100%;">
                                </div>
                                <div class="center-align">
                                    Okereke Chinweotito <br />
                                    Frontend Developer
                                </div>
                            </div>
                        </div>
                    </div>
        </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>