              <div class="page-sidebar">
                <div class="page-sidebar-inner">
                    <div class="page-sidebar-menu">
                        <div class="sidebar-accordion-menu">
                            <ul class="sidebar-menu list-unstyled">
                                <li>
                                    <a href="dashboard" class="waves-effect waves-grey <% if (activePage === 'dashboard') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">dashboard</i>Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="donations" class="waves-effect waves-grey <% if (activePage === 'donations') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">redeem</i>Donation
                                    </a>
                                </li>
                                <li>
                                    <a href="live-chat" class="waves-effect waves-grey <% if (activePage === 'live-chat') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">chat_bubble</i>Live Chat
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="waves-effect waves-grey <% if (activePage === 'referrals') { %>
                                  active
                                <% } %>">
                                        <i class="material-icons">group</i>Referrals
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a href="javascript:;" class="waves-effect waves-grey <% if (activePage === 'settings') { %>
                                  active
                                <% } %>">
                                        <i class="material-icons">settings</i>Settings
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-grey logout">
                                        <i class="material-icons">power_settings_new</i>Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>