              <div class="page-sidebar">
                <div class="page-sidebar-inner">
                    <div class="page-sidebar-menu">
                        <div class="sidebar-accordion-menu">
                            <ul class="sidebar-menu list-unstyled">
                                <li>
                                    <a href="/admin/dashboard" class="waves-effect waves-grey <% if (activePage === 'dashboard') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">dashboard</i>Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/donations" class="waves-effect waves-grey <% if (activePage === 'donations') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">redeem</i>Donations
                                    </a>
                                </li>
                                <li>
                                  <a href="/admin/donation-stations" class="waves-effect waves-grey <% if (activePage === 'donation-stations') { %>
                                  active
                                <% } %>">
                                    <i class="material-icons">home</i>Donation Stations
                                  </a>
                                </li>
                                <li>
                                  <a href="/admin/notifications" class="waves-effect waves-grey <% if (activePage === 'notifications') { %>
                                  active
                                <% } %>">
                                    <i class="material-icons">notifications</i>Notifications
                                  </a>
                                </li>
                                <li>
                                    <a href="/admin/live-chat" class="waves-effect waves-grey <% if (activePage === 'live-chat') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">chat_bubble</i>Live Chat
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/users" class="waves-effect waves-grey <% if (activePage === 'users' || activePage === 'user-edit' || activePage === 'user-new') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">people_outline</i>User Management
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/volunteers" class="waves-effect waves-grey <% if (activePage === 'volunteers') { %>
                                  active
                                <% } %>">
                                      <i class="material-icons">person_pin</i>Volunteers
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/referrals" class="waves-effect waves-grey <% if (activePage === 'referrals') { %>
                                  active
                                <% } %>">
                                        <i class="material-icons">group</i>Referrals
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a href="javascript:;" class="waves-effect waves-grey <% if (activePage === 'settings') { %>
                                  active
                                <% } %>">
                                        <i class="material-icons">settings</i>Settings
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-grey logout">
                                        <i class="material-icons">power_settings_new</i>Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>